@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background: #e6e5e5;
  --primary-color: #a71414;
  --secondary-color: #181717;
  --on-primary: #ffff;
  --on-secondary: #ffff;
  --tertiary-color : #ffed49;
  --on-tertiary: #222121;
}
body{
  background-color: var(--background);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.color-primary{
  color: var(--primary-color);
}


.quicksand{
  font-family: var(--font-quicksand);
}
.maven{
  font-family: var(--font-maven-pro);
}